# Modern browsers only - remove legacy polyfills
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions

# Exclude older browsers that need polyfills
not IE 11
not dead
not < 0.5%
